<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@font-face { src:url(fuentes/digital.ttf); font-family:reloj;}
body { font-family:Calibri; font-size:12px; background-color:#909090;}
#contenedor-principal { margin-top:1vw;}
#contenedor-principal .panel { border-radius:0; border:none;}
#contenedor-principal .panel-heading .thumbnail { margin-bottom:0; border-radius:0;}
#cabecero_imagen { padding:0; border-radius:0; padding:5px; background-color:#494949; border:none;}
#login {margin-top:2vw;}
#login .panel-heading { background-color:#224973; border-radius:0;}
#login .panel-title { color:#FFFFFF; text-align:center;}
#navegador { padding:0; width:103%; border-radius:0; margin-top:-15px; margin-left:-15px; border:none; background-color:#F9F9F9; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; background-color:#2D415F;}
#navegador .navbar-brand { font-weight:700; text-transform:uppercase; color:#FFFFFF; border:none;}
#navegador ul li a { color:#FFFFFF;}
#navegador ul li:hover a { color:#E5B200;}
#navegador ul li:hover > #sub_menu li a { color:#FFFFFF;}
#navegador ul li:hover > #sub_menu li a:hover { color:#E5CF00;}
#navegador ul li a:active { background-color:transparent;}
#navegador ul li a:focus { background-color:transparent;}
#navegador ul .open { background-color:transparent;}
#tabla_control_length { display:none;}
#tabla_control tr th { background-color:#2D415F; color:#FFFFFF; text-align:center;}
#tabla_control tr td .btn-success { border:none; border-radius:0; background-color:#2D415F; color:#FFFFFF;}
#tabla_control tr td { vertical-align:middle;}
#titulo_add { background-color:transparent;}
#titulo_add .panel-title { font-weight:bold;}
#titulo_add .panel-title .btn-success { color:#FFFFFF; border-radius:0; font-weight:bold; border-bottom:2px solid #166200;}
#titulo_add .panel-title .btn-success i { margin-right:20px;}
#tabla_control_paginate span .current {background-color:#2D415F; color:#FFFFFF;}
#footer {background-color:#494949; color:#FFFFFF; border-radius:0;}

@media print {
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@font-face { src:url(fuentes/digital.ttf); font-family:reloj;}
body { font-family:Calibri; font-size:12px; background-color:#909090;}
#contenedor-principal { margin-top:1vw;}
#contenedor-principal .panel { border-radius:0; border:none;}
#contenedor-principal .panel-heading .thumbnail { margin-bottom:0; border-radius:0;}
#cabecero_imagen { padding:0; border-radius:0; padding:5px; background-color:#494949; border:none;}
#login {margin-top:2vw;}
#login .panel-heading { background-color:#224973; border-radius:0;}
#login .panel-title { color:#FFFFFF; text-align:center;}
#navegador { padding:0; width:103%; border-radius:0; margin-top:-15px; margin-left:-15px; border:none; background-color:#F9F9F9; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; background-color:#2D415F;}
#navegador .navbar-brand { font-weight:700; text-transform:uppercase; color:#FFFFFF; border:none;}
#navegador ul li a { color:#FFFFFF;}
#navegador ul li:hover a { color:#E5B200;}
#navegador ul li:hover > #sub_menu li a { color:#FFFFFF;}
#navegador ul li:hover > #sub_menu li a:hover { color:#E5CF00;}
#navegador ul li a:active { background-color:transparent;}
#navegador ul li a:focus { background-color:transparent;}
#navegador ul .open { background-color:transparent;}
#tabla_control_length { display:none;}
#tabla_control tr th { background-color:#2D415F; color:#FFFFFF; text-align:center;}
#tabla_control tr td .btn-success { border:none; border-radius:0; background-color:#2D415F; color:#FFFFFF;}
#tabla_control tr td { vertical-align:middle;}
#titulo_add { background-color:transparent;}
#titulo_add .panel-title { font-weight:bold;}
#titulo_add .panel-title .btn-success { color:#FFFFFF; border-radius:0; font-weight:bold; border-bottom:2px solid #166200;}
#titulo_add .panel-title .btn-success i { margin-right:20px;}
#tabla_control_paginate span .current {background-color:#2D415F; color:#FFFFFF;}
#footer {background-color:#494949; color:#FFFFFF; border-radius:0;}
}
</style>