body {
	padding: 0;
    margin: 0;
	background:#CCC; font-family: 'Open Sans', sans-serif;
}
h1,h3 {
	text-align:center;
}
a {
	cursor:pointer;
}
#fondo {
	width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 990;opacity: 0.3;background:#000;
}
#flotante {
	z-index: 999; border: 8px solid #fff; margin-top: -756px; margin-left: -253px; top: 40%; left: 50%; padding: 12px; position: fixed; width: 500px; height: 470px; background-color: transparent; border-radius: 3px;
}